.env
purbeurre/.env
.DS_Store
.pytest_cache
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
purbeurre/purbeurre/__pycache__/
purbeurre/food/__pycache__/
purbeurre/food/migrations/__pycache__/
purbeurre/member/__pycache__/
purbeurre/member/migrations/__pycache__/
purbeurre/purbeurre/settings/production.py
purbeurre/purbeurre/settings/development.py