{% extends "base.html" %}

{% load static %}

{% block content %}
    
    <section class="blackband">
    {% if user.is_authenticated %}
        <p class="nameprd">{{ user.username }}</p>
    {% else %}
   
        <p class="nameprd">Espace membres</p>
    {% endif %}
    
    </section>

    <section class="bg-result">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    {% if user.is_authenticated %}
                        <p><h6 style="color: white;">Email : {{ user }}</h6></p>
                        <p style="margin-top: 12rem;"><h5><a href="{% url 'member:disconnect' %}">Se déconnecter</a></h5></p>
                    
                    <!-- <p><h1 class="text-white mt-0"><b>Page des membres</b></h1><br /></p> -->
                    {% else %}
                    <p><h5><a href="{% url 'member:connect' %}">Se connecter</a></h5></p>
                    <p><h5><a href="{% url 'member:register' %}">Créer un compte</a></h5></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>    
{% endblock %}

























