{% extends "base.html" %}
{% load static %}

{% block nav %}     

{% endblock %}

{% block content %}
    
    <section class="page-section bg-member" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <p><h1 class="text-white mt-0"><b>Page des membres</b></h1><br /></p>
                    <p><h5><a href="{% url 'member:connect' %}">Se connecter</a></h5></p>
                    <p><h5><a href="{% url 'member:register' %}">Créer un compte</a></h5></p>
                </div>
            </div>
        </div>
    </section>    
{% endblock %}