{% extends "base.html" %}

{% load static %}

{% block nav %}    

    {% block sidebar %}
        {% if user.is_authenticated %}

            <div id="sidebar">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <a href="#">
                    <li class="nav-item"><img class="headicons" src="{% static 'assets/img/foods_icon.png' %}" alt='My Account'></li>
                    </a>
                    <a href="{% url 'member:disconnect' %}">
                    <li class="nav-item"><img class="headicons" src="{% static 'assets/img/disconnect_icon.png' %}" alt='My Account'></li>
                    </a>                    
                </ul>
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}

{% block content %}
    <section class="page-section bg-member" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <p><h1 class="text-white mt-0"><b>Page de connexion</b></h1><br /></p>
                        {% if error %}
                            <p align="center" class="text-white">
                                <strong>Utilisateur inconnu ou mauvais de mot de passe.</strong>
                            </p>
                        {% endif %}                    
                        {% if user.is_authenticated %}
                            <p align="center" class="text-white">
                                <strong>Vous êtes connecté en tant que {{ user.username }} !</strong><br />
                            </p>
                        {% else %}                        
                           <div class="col-lg-8 text-center">
                               <div align="right">
                                   <form action="{% url 'member:connect' %}" method="post">
                                        {% csrf_token %}
                                        <div class="text-white">
                                            {{ form.as_p }}
                                        </div>
                                        <input type="submit" value="Connexion" />
                                        <input type="hidden" name="redirection" value="{{ redirection }}">
                                    </form>
                                </div>
                            </div>              
                        {% endif %}
                </div>
            </div>               
        </div>
    </section>       
{% endblock %}

<section class="page-section bg-member" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <p><h1 class="text-white mt-0"><b>Page de connexion</b></h1><br /></p>
                    <p><h5><a href="{% url 'member:connect' %}">Se connecter</a></h5></p>
                    <p><h5><a href="{% url 'member:register' %}">Créer un compte</a></h5></p>
                </div>
            </div>
        </div>
    </section>   