{% extends "base.html" %}

{% load static %}

{% block content %}
    
    <section class="blackband">
        <p class="nameprd">{{ user.username }}</p>
    </section>

    <section class="bg-result">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    {% if resp == 'onlyformer' %}
                        <p align="center" style="color: red;">
                            <strong>Le nouveau mot de passe n'est pas identique dans les deux champs.<br>
                            Veuillez recommencer.</strong>
                        </p>  
                    {% elif resp == 'none' %}
                        <p align="center" style="color: red;">
                            <strong>L'ancien mot de passe ne correspond pas.<br>
                            Veuillez recommencer.</strong>
                        </p> 
                    {% elif resp == 'data_error' %}
                        <p align="center" style="color: red;">
                            <strong>Il y a une erreur dans les données transmises.<br>
                            Veuillez recommencer.</strong>
                        </p> 
                    {% endif %}

                </div>
                <div class="col-sm-6">
                    <div align="right">
                        <form action="{% url 'member:modifypassword' %}" method="post">
                            {% csrf_token %}
                            <p>
                            <div class="text-white">
                                {{ form }}
                            </div>
                            </p>
                            <p></p><input type="submit" value="Envoyer">
                        </form>
                    </div>                    
                </div>
            </div>
        </div>
    </section>    

{% endblock %}

























