{% extends "base.html" %}
{% load static %}
{% block content %}
        
        <!-- About-->
        <section class="page-section bg-member" id="about">
            <div class="container">
            	<div class="row justify-content-center">
                	<div class="col-lg-8 text-center">
                    	<p><h1 class="text-white mt-0"><b>Modification du mot de passe</b></h1><br /></p>
                    </div>
                </div>                    
                <p></p>
                <div class="row justify-content-center text-white">
                    La modification de votre mot de passe a bien été prise en compte. Merci.
                </div>
            </div>
        </section>
        



<script type="text/javascript" src="{% static 'member/assets/js/redirect.js' %}"></script>
<script>redirect();</script>



{% endblock %}

