{% extends "base.html" %}

{% load static %}

{% block content %}

<style> 
            body { 
                height: 200vh; 
                width: 100%; 
                background: rgba(0, 0, 0, 0.5); 
                z-index: 111; 
            }
            
 
</style> 
   
  
    <body> 
        <h1 class= 
"text-center text-white mt-5 font-weight-bold"> 
            Automatic Pop-Up using jQuery 
        </h1> 
        <br /> 
        <br /> 
        <div class="POPmain" style="display: none;"> 
            <div id="popup"> 
                <p class="text-center w-50 mt-5" id="emailId">Ce produit a bien été enregistré.</p>

                <!-- <input type="email" 
                       class= 
        "text-center w-50 form-control mt-5" 
                       id="emailId" 
                       placeholder= 
        "type your email here..." /> 
  
                <button class= 
 "submitId btn btn-primary font-weight-bold mt-5"> 
                    Subscribe 
                </button> 
                <button class= 
"submitId btn btn-primary text-center font-weight-bold mt-5"> 
                    No,Thanks 
                </button>  -->

            </div> 
        </div> 
  
        <!-- Optional JavaScript --> 
        <!-- jQuery first,then Popper.js,then Bootstrap JS --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          
        <script> 
            // When doument is ready 
            $(document).ready(function () { 
                // SetTimeout function 
                // Will execute the function 
                // after 3 sec 
                setTimeout(function () { 
                    $(".POPmain").css("display", "block"); 
                }, 0); 
            	setTimeout(function () { 
                    $(".POPmain").css("display", "none"); 
                }, 3000); 
            }); 
        </script> 


{% endblock %}


