{% extends "base.html" %}

{% load static %}

{% block content %}
        
        <section class="bg-result">
            <div class="container">
                <h4 class="text-center mt-0">Mes Aliments favoris</h4><br /> 
                <div class="row justify-content-center">
                {% for favourite in favourite_list %}
                    <div class="col-sm-4 text-center">
                        <p>
                            <a href="{% url 'food:detail' product_id=favourite.id %}">
                                <img class="img-responsive cube" src="{{ favourite.url_pic }}" alt="">
                            </a><br />
                            {{ favourite.name }}<br />
                                
                            </p>   
                            
                        </div>
                            
                {% endfor %}                        
                </div>
            </div>
        </section>
        
       
        
        
{% endblock %}